name: Unit test

on:
  push:
    tags:
      - 'v*'
    branches:
      - master
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
      - '.github/workflows/TagBot.yml'
  pull_request:
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
      - '.github/workflows/TagBot.yml'
  schedule:
    - cron: '20 00 1 * *'

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      # allow-failure is not supported yet
      # https://github.com/actions/toolkit/issues/399
      fail-fast: false
      matrix:
        julia-version: ['min', 'lts', '1', 'pre']
        os: [ubuntu-latest, windows-latest, macOS-latest]
        # only test one 32-bit job
        include:
          - os: ubuntu-latest
            julia-version: '1'
            julia-arch: x86

    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
      - uses: julia-actions/cache@v2
      - name: "Unit Test"
        uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
